<% if logged_in? %>
    <div class="row">
        <aside class="col-md-4">
            <section class="user_info">
                <%= render 'shared/user_info' %>
            </section><!-- end of user_info -->
            <section class="stats">
                <%= render 'shared/stats' %>
            </section>
            <section>
                <%= link_to "#{current_user.answers.count} words learned", words_path, class: "btn btn-lg btn-primary" %>
            </section>
        </aside>
            <div class="col-md-8">
            <ol class="activities">
                <h3>Activity Feed</h3>
                <%= render @activities %>
            </ol>
            </div>
    </div>
<% else %>
    <div class="center jumbotron">
        <h1>Welcome to PokeLearning</h1>

        <h2>This is the home page!</h2>
            <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    </div>

    <div class="image">
    <%= link_to image_tag("pikachu.png", alt: "Pikachu logo"),
            'https://hypixel.net/proxy/BcmjTMrMwQRx3z7n0t8KPWFpLzW0S%2BPqEVZmRWVBA%2F3cmGDpQb6f43JR76nr70rlldnTrMw%3D/image.png' %>
    </div>
<% end %>